body {
  margin: 0;
  background-color: rgb(49, 49, 209);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 350px;
  background-color: gray;
  border-radius: 100%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 45px;
}

.around {
  position: absolute;
  border: 15px solid white;
  border-radius: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top-color: red;
}

.circle:hover .around {
  animation: rotateRedBorder 2s infinite;
  cursor: pointer;
}

@keyframes rotateRedBorder {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
